@import "reset";

.App {
  background-color: aqua;
  height: 100vh;
}

.Navbar {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;

  & > a {
    border: none;
    outline: none;
    background-color: aliceblue;
    font-size: xx-large;
    font-family: cursive;
    text-decoration: none;

    & span {
      color: aqua;
      font-size: x-large;
    }
  }

  nav {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:hover {
        color: aqua;
        font-weight: bold;
        transition: all .3s ease-in-out;
      }
    }
  }

  i {
    display: none;
    color: aqua;
    font-size: xx-large;
  }

  @media screen and (max-width: 768px){
    .false {
      display: none;
    }

    .true {
      position: absolute;
      top: 8vh;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    nav a {
      display: block;
      margin-bottom: 3vh;
    }

    i {
      display: inline;
      cursor: pointer;
    }
  }
}

